<h1>{{product.name}}</h1>
<p>Preço: {{product.price}}</p>
<p>Descrição: {{product.description}}</p>
<form action="/products/remove/{{product._id}}" method="post">
    <input type="submit" value="Excluir produto">
</form>